Repository danny-lloyd/ceda-status: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate, black, isort, ruff linter, bandit, mypy

validate:
  name: validate
  entry: poetry run python testing_ceda_status/validate.py
  language: system

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

ruff linter:
  name: ruff lint
  entry: poetry run ruff check --fix
  language: system

bandit:
  name: bandit
  entry: poetry run bandit -c pyproject.toml -r .
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --no-namespace-packages --exclude esgf_playground_utils/models/__init__.py
  language: system

Fix quality check action
  .github/workflows/check.yml
Due: none

Correct statuspage
  status.json
Due: validate

Validate URLs
  testing_ceda_status/model.py
Due: black, isort, ruff linter, bandit, mypy

Fix black, isort complaints
  testing_ceda_status/generate_schema.py
  testing_ceda_status/validate.py
Due: black, isort, ruff linter, bandit, mypy

Bring schema up-to-date with model
  statuspage.schema.json
Due: validate

Use sys.exit() rather than exit()
  testing_ceda_status/validate.py
Due: black, isort, ruff linter, bandit, mypy

Use json.dump instead of directly writing json.dumps
  testing_ceda_status/generate_schema.py
Due: black, isort, ruff linter, bandit, mypy

Add docstrings and use SCREAMING_SNAKE_CASE
  testing_ceda_status/model.py
Due: black, isort, ruff linter, bandit, mypy

Add example test
  tests/check_dates_test.py
Due: black, isort, ruff linter, bandit, mypy

Fix for mypy tests?
  testing_ceda_status/tests/check_dates_test.py
Due: black, isort, ruff linter, bandit, mypy

Fix for mypy
  testing_ceda_status/__init__.py
Due: black, isort, ruff linter, bandit, mypy

Fix tests to be discovered
  .gitignore
  testing_ceda_status/tests/check_dates_test.py
  tests/__init__.py
  tests/test_dates.py
Due: black, isort, ruff linter, bandit, mypy

Ignore `if __name__ == "__main__"` from coverage
  pyproject.toml
Due: none

Stop testing on Python versions other than 3.12
  .github/workflows/check.yml
Due: none

Remove esgf folder
  .pre-commit-config.yaml
Due: none

Path conditions:
  validate: any of: \.json$
  black: any of: \.py$
  isort: any of: \.py$
  ruff linter: any of: \.py$
  bandit: any of: \.py$
  mypy: any of: \.py$
